.main{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    box-shadow: 0px 2px 11px 4px #2F2E2E;
    padding-top: 50px;
    width: 100%;
    justify-content: space-around;
}

.containerlogo{
    display: flex;
    justify-content: center;
}

.logo{
    width: 150px;
    height: 75px;
}

.main li{
    list-style: none;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.list li{
    margin: 7px;
}

.list a{
    text-decoration: none;
    color: #2F2E2E;
}

.list li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.social h1{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.social img{
    width: 40px;
    height: 40px;
    margin: 8px;
}

.social img:hover{
    transform: scale(1.2);
    cursor: pointer;
}